/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Pen+Script&display=swap');

/* UNIVERSAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: 'Indie Flower', cursive;
    background-color: #000;
    color: #fff;
}

/* NAVBAR */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 5rem 0.8rem 1.9rem;
    font-size: 2.2rem;
    background-color: #000;
    position: fixed;
    top: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: 1.3s ease-out;
}

li a {
    transition: 0.3s ease;
}

nav a:visited {
    color: #fff;
}

#nav-title:hover {
    color: rgb(255, 0, 111);
}

#nav-gifs:hover {
    color: rgb(179, 0, 255);
}

#nav-memes:hover {
    color: rgb(255, 0, 221);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

li a {
    font-size: 1.7rem;
}

/* MAIN */
main {
    display: flex;
    position: relative;
    top: 3.5rem;
}

/* ASIDE */
aside {
    width: 21%;
    padding: 3.5rem 0.5rem 0 0.5rem;
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside form {
    width: 100%;
}

aside label {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

aside h2 {
    margin-bottom: 0.8rem;
}

h2 span:nth-child(1) {
    color: rgb(179, 0, 255);
}

h2 span:nth-child(2) {
    color: rgb(255, 0, 221);
}

#search-gm {
    font-family: 'Indie Flower', cursive;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
}

#search-gm::placeholder {
    color: rgb(239, 228, 255);
}

.submit-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

form button {
    width: 60%;
    border: none;
    border-radius: 1rem;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
    padding: 0.2rem 0;
    background-image: linear-gradient(90deg, rgb(179, 0, 255), rgb(255, 0, 221));
    color: #fff;
    cursor: pointer;
    transition: 0.2s linear;
}

form button:hover {
    color: #000;
}

form button:active {
    transform: scale(0.9);
}

.search-history {
    width: 100%;
}

.searched-history button {
    cursor: pointer;
    width: 100%;
    display: block;
    margin: 1.2rem auto 0;
    border: none;
    border-radius: 1rem;
    padding: 0.2rem 0;
    background-color: #000;
    color: #fff;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

.searched-history button:hover {
    color: rgb(255, 0, 111);
}

.searched-history button:active {
    transform: scale(0.9);
}

/* SECTION */
section {
    width: 75%;
}

/* GIF  */
.gif-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gif-icon-img { 
    width: 130px;
    height: 130px;
}

/* MEME */
.memes-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#meme-icon-img {
    width: 90px;
    height: 90px;
}


/* MEDIA QUERY */
@media screen and (max-width: 675px) {
    nav {
        padding: 0.8rem 1.9rem 0.8rem 1.9rem;
    }

    nav ul {
        gap: 2rem;
    }
}

@media screen and (max-width: 567px) {
    nav {
        flex-direction: column;
    }

    #nav-title {
        margin-bottom: 1rem;
    }

    nav ul {
        gap: 3rem;
    }
}