/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* BODY */
body {
    display: grid;
    justify-self: center;
    padding: 5rem 0 5rem;
    font-size: 1.2rem;
}

/* DIV */
.idiots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#i-one {
    border: 1px solid black;
    width: 700px;
    height: 400px;
}

#i-two {
    border: 1px solid black;
    width: 500px;
    height: 450px;
}

#i-three {
    border: 1px solid black;
    width: 450px;
    height: 300px;
}

#i-four {
    border: 1px solid black;
    width: 500px;
    height: 350px;
}

#i-five {
    border: 1px solid black;
    width: 400px;
    height: 300px;
}

#i-six {
    border: 1px solid black;
    width: 600px;
    height: 400px;
}

#i-seven {
    border: 1px solid black;
    width: 500px;
    height: 300px;
    margin-bottom: 48rem;
}

p {
    font-family: 'Source Code Pro', monospace;
}

p:nth-child(1) {
    margin-bottom: 5.5rem;
}

p:last-child {
    font-size: 1.3rem;
}

button {
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 0.3rem;
}

button a {
    text-decoration: none;
}