/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mulish&display=swap');

/* UNIVERSAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BODY */
body {
    font-family: 'Indie Flower', cursive;
    background-color: #000;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 5rem 0.8rem 1.9rem;
    font-size: 2.2rem;
    background-color: #000;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: 1.3s ease-out;
}

li a {
    transition: 0.3s ease;
}

nav a:visited {
    color: #fff;
}

#nav-title:hover {
    color: rgb(179, 0, 255);
}

li a:hover {
    color: rgb(255, 0, 221);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

li a {
    font-size: 1.7rem;
}
