/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Pen+Script&display=swap');

/* UNIVERSAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    font-family: 'Indie Flower', cursive;
    background-color: #000;
    color: #fff;
}

/* NAVBAR */
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 5rem 0 1.9rem;
    font-size: 2.2rem;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: 1.3s ease-out;
}

li a {
    transition: 0.3s ease;
}

nav a:visited {
    color: #fff;
}

#nav-title:hover {
    color: rgb(255, 0, 111);
}

#nav-gifs:hover {
    color: rgb(179, 0, 255);
}

#nav-memes:hover {
    color: rgb(255, 0, 221);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

li a {
    font-size: 1.7rem;
}

/* MAIN */
main {
    display: flex;
    position: relative;
    top: 3.5rem;
    padding: 0 2.5rem
}

/* ASIDE */
aside {
    width: 21%;
    padding: 3.5rem 0 0;
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
}

aside form {
    width: 100%;
}

aside label {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

aside h2 {
    margin-bottom: 0.8rem;
}

h2 span:nth-child(1) {
    color: rgb(179, 0, 255);
}

h2 span:nth-child(2) {
    color: rgb(255, 0, 221);
}

#search-gm {
    font-family: 'Indie Flower', cursive;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
}

#search-gm::placeholder {
    color: rgb(239, 228, 255);
}

.submit-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

form button {
    width: 60%;
    border: none;
    border-radius: 1rem;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
    padding: 0.2rem 0;
    background-image: linear-gradient(90deg, rgb(179, 0, 255), rgb(255, 0, 221));
    color: #fff;
    cursor: pointer;
    transition: 0.2s linear;
}

form button:hover {
    color: #000;
}

form button:active {
    transform: scale(0.9);
}

.search-history {
    width: 100%;
}

.searched-history button {
    cursor: pointer;
    width: 100%;
    display: block;
    margin: 1.2rem auto 0;
    border: none;
    border-radius: 1rem;
    padding: 0.2rem 0;
    background-color: #000;
    color: #fff;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.5rem;
    transition: 0.3s ease;
}

.searched-history button:hover {
    color: rgb(255, 0, 111);
}

.searched-history button:active {
    transform: scale(0.9);
}

/* SECTION */
section {
    width: 79%;
    margin-bottom: 6rem;
    margin-left: 21%;
}

/* GIF  */
.gif-main-container {
    padding: 1rem 0 6.5rem;
}

.gif-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3.5rem;
}

.gif-container {
    padding: 0 0 2rem 2.5rem;
}

#gifs-icon-img { 
    width: 130px;
    height: 130px;
}

#no-gifs-found {
    margin-left: 1.5rem;
}

/* HR */
hr {
    background-color: #fff;
    margin: 0 2.5rem;
}

/* MEME */
.memes-main-container {
    padding: 4.5rem 0 2.5rem 2.5rem;
}

.memes-header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3rem;
    margin-right: 3.5rem;
}

#memes-icon-img {
    width: 80px;
    height: 80px;
}

#no-memes-found {
    text-align: end;
    margin-right: 2rem;
}

/* GRID CLASSES */
.gif-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meme-grid img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}

.gif-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0.5rem;
}

.meme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 1rem;
}

/* HIDE */
.hide {
    display: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 6rem;
    }

    aside {
        width: 90%;
        position: static;
    }

    section {
        margin-left: 0;
    }

    .searched-history {
        display: none;
    }

    .gif-main-container {
        padding: 2.5rem 0 6.5rem;
    }

    .gif-header-container {
        justify-content: center;
        margin: 0;
    }

    .gif-container {
        padding: 0 0 2rem 0;
    }

    hr {
        margin: 0;
    }

    .memes-main-container {
        padding: 4.5rem 0 2.5rem 0;
    }

    .memes-header-container {
        justify-content: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 675px) {
    nav {
        padding: 0.8rem 1.9rem 0.8rem 1.9rem;
    }

    nav ul {
        gap: 2rem;
    }
}

@media screen and (max-width: 567px) {
    nav {
        flex-direction: column;
    }

    #nav-title {
        margin-bottom: 2rem;
    }

    nav ul {
        gap: 6rem;
    }

    main {
        top: 12rem;
    }
}

@media screen and (max-width: 372px) {
    main {
        padding: 0;
    }
}